---
// @ts-nocheck
import MainLayout from "../../layouts/MainLayout.astro";
import HoldSingle from "../../components/HoldSingle.astro";
import {
  getServicesSlugs,
  getServicesAndTraenerBySlug,
  getPageData,
  firstRow,
} from "../../assets/js/supabase_v2";

export async function getStaticPaths() {
  const slugs = await getServicesSlugs();
  return slugs.map((item) => ({
    params: { slug: item.slug },
  }));
}

const slug = Astro.params.slug?.trim();

const rows = await getServicesAndTraenerBySlug(slug);
const service = firstRow(rows);
const pageData = getPageData(service);
---

<MainLayout>
  {
    pageData ? (
      <HoldSingle
        hold={pageData.hold}
        type={pageData.type}
        traener={pageData.fornavn + " " + pageData.efternavn}
        pris={pageData.pris}
        img={pageData.img}
        lokation={pageData.lokation}
        path={pageData.slug}
      />
    ) : (
      <p>Holdet blev ikke fundet.</p>
    )
  }
</MainLayout>
