---
const { hold, pris, adresse, status_ikon, status_txt } = Astro.props;
---

<li class="row-span-2 grid">
  <article
    class="grid grid-cols-subgrid gap-2 rounded-md border p-4 md:grid-cols-6"
  >
    <div class="flex gap-2 max-md:-translate-x-2 md:col-span-2 md:gap-4">
      <img src={status_ikon} alt={status_txt} class="aspect-square h-12" />
      <div>
        <h6>{hold}</h6>
        <p>{status_txt}</p>
      </div>
    </div>

    <div class="flex grid-cols-4 justify-between md:col-span-4 md:grid">
      <div class="flex gap-6 md:col-span-3">
        <div class="hidden md:inline-block">
          <p class="font-bold">LOKATION</p>
          <p>{adresse}</p>
        </div>
        <div>
          <p class="font-bold">PRIS</p>
          <p>{pris}</p>
        </div>
      </div>
      <span class="my-auto">
        <a
          href="/Hold_oversigt"
          class="rounded-md bg-(--main-400) px-4 py-2 text-(length:--text-size-14) whitespace-nowrap text-(--text-inverse) transition-colors duration-150 hover:bg-(--main-500) md:text-(length:--text-size-16)"
        >
          LÆS MERE
        </a>
      </span>
    </div>
  </article>
</li>
