---
import Heading from "../Heading.astro";
import Text from "../Text.astro";
import LinkButton from "../Buttons__&_links/LinkButton.astro";
const {
  img,
  type,
  traener,
  xtraener,
  path,
  lokation,
  hold,
  pris,
  beskrivelse,
} = Astro.props;
---

<li class="row-span-3 mx-auto grid grid-rows-subgrid">
  <a href={"/Hold_side/" + path}>
    <article
      class="row-span-2 grid grid-rows-subgrid overflow-hidden rounded-md bg-(--neutral-100) xl:max-w-100"
    >
      <img
        src={img}
        alt={type}
        class="aspect-3/2 h-auto w-[100cqw] object-cover object-[0%_20%]"
      />
      <div class="flex flex-col p-[2cqw] pt-2">
        <div
          class="flex min-h-8 gap-2 [&_p]:rounded-md [&_p]:px-2 [&_p]:text-center [&_span]:my-2 [&_span]:content-center [&_span]:py-1"
        >
          <span>
            <Text
              size="label_2"
              weight="semibold"
              stylingclasses="text-(--text-inverse) bg-(--neutral-500) empty:hidden"
            >
              {lokation}
            </Text>
          </span>
          <span>
            <Text
              size="label_2"
              weight="semibold"
              stylingclasses="bg-(--neutral-200)"
            >
              {type}
            </Text>
          </span>
          <span class="w-fit content-center">
            <Text
              size="label_2"
              weight="semibold"
              stylingclasses="bg-(--neutral-200) empty:hidden"
              >{traener}{xtraener && ` & ${xtraener}`}</Text
            >
          </span>
        </div>
        <div class="mb-4">
          <Heading htmlheading="h6" size="h6" font="display" weight="bold">
            {hold}
          </Heading>
          <Text stylingclasses="empty:hidden"> {beskrivelse} </Text>
        </div>
        <div class="mt-auto mb-4 flex items-center justify-between">
          <Text weight="bold">{pris}</Text>
          <LinkButton
            size="md"
            color="outline"
            href={"/Hold_side/" + path}
            label="SE MERE"
          />
        </div>
      </div>
    </article>
  </a>
</li>
