---
const { img, type, traener, lokation, hold, pris } = Astro.props;

const krTilDKK = new Intl.NumberFormat("da-DK", {
  style: "currency",
  currency: "DKK",
  currencyDisplay: "code",
});

const prisTekst = krTilDKK.format(Number(pris));
---

<section
  class="mx-auto grid w-[90vw] gap-4 overflow-hidden lg:grid-cols-2 lg:gap-4"
>
  <img
    src={img}
    alt={type}
    class="aspect-3/2 h-auto w-[100cqw] object-cover object-[0%_20%]"
  />
  <div>
    <p class="text-(--text-primary)">
      {lokation}
    </p>
    <div>
      <h3 class="text-(length:--heading-3-size) font-bold">{hold}</h3>
      <p class="text-(length:--text-size-16)">
        Her skal der være en beskrivelse af holdet.
      </p>
    </div>
    <div
      class="my-4 flex flex-col justify-between gap-4 lg:flex-row lg:items-center"
    >
      <div
        class="flex w-fit gap-4 rounded-md bg-(--main-400) px-4 py-2 text-(length:--text-size-20) text-(--text-inverse) lg:items-center"
      >
        <p class="font-bold">{prisTekst}</p>
        <p>LÆG I KURV</p>
      </div>
      <a
        href="/Hold_oversigt"
        class="w-fit rounded-md border-2 border-(--primary-500) bg-(--primary-500) px-4 py-2 text-(length:--text-size-20) text-(--text-main) transition-colors duration-150 hover:bg-(--accent-200)"
      >
        MERE INFO
      </a>
    </div>
  </div>
</section>
<section class="bg-(--accent-200) p-8">
  <p>UNDERVISER</p>
  <div class="bg-(--neutral-100) p-4">
    <h5 class>{traener}</h5>
  </div>
</section>
<section class="bg-(--neutral-100) p-8">
  <p>INKLUDERET</p>
</section>
<section class="bg-(--main-200) p-8">
  <p>FORMAAL</p>
</section>
