---
import { krTilDKK } from "../assets/js/supabase_v2";
const { img, type, lokation, hold, pris, traener, profil_img, traener_txt } =
  Astro.props;

const prisTekst = krTilDKK.format(Number(pris));
---

<section
  class="mx-auto grid w-[90vw] gap-4 overflow-hidden lg:grid-cols-2 lg:gap-4"
>
  <img
    src={img}
    alt={type}
    class="aspect-3/2 h-auto w-[100cqw] object-cover object-[0%_20%]"
  />
  <div>
    <p class="text-(--text-primary)">
      {lokation}
    </p>
    <div>
      <h3 class="heading-3-size) font-bold">{hold}</h3>
      <p class="text-size-16">Her skal der være en beskrivelse af holdet.</p>
    </div>
    <div
      class="my-4 flex flex-col justify-between gap-4 lg:flex-row lg:items-center"
    >
      <div
        class="text-size-20) flex w-fit gap-4 rounded-md bg-(--main-400) px-4 py-2 text-(--text-inverse) lg:items-center"
      >
        <p class="font-bold">{prisTekst}</p>
        <p>LÆG I KURV</p>
      </div>
      <a
        href="/Hold_oversigt"
        class="text-size-20) w-fit rounded-md border-2 border-(--primary-500) bg-(--primary-500) px-4 py-2 text-(--text-main) transition-colors duration-150 hover:bg-(--accent-200)"
      >
        MERE INFO
      </a>
    </div>
  </div>
</section>
